Package: com.dgh0st.centerobey
Name: CenterObey
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: NC and CC will obey based on finger position.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
